.form-group {
  display: flex;
  align-items: center;
  text-align: center;
  width: 500px;
  padding:0  10px;
  border-radius: 5px;
  
}
.form-group.error {
  background-color: bisque;
}
p {
  opacity: 0;
}
label {
  margin-right: 10px;
}
input {
  padding: 3px 5px;
  outline: none;
  border-radius: 5px;
  border: solid 1px #333
}
.form-group.error p {
  margin-left: 15px;
  opacity: 1;
  font-size: 10;
  color: red;
}